h1, h2 {
    white-space: nowrap;
}

.menuPaperStyle {
    padding: 20px;
}

.menuMarginStyle {
    margin-top: 15;
}

.listPaperStyle {
    padding: 20px;
}

.listMarginStyle {
    margin-top: 15;
}

.titleHeaderStyle {
    margin: 50px auto;
    font-size: 4rem;
    text-align: center;
}

.menuHeaderStyle {
    margin: 10;
    margin-top: 20;
    font-size: 2rem;
}

.buttonStyle {
    margin-top: 30;
    background-color: #0099CC;
    width: 100%;
    font-size: 20px;
}