.container {
  width: 100%;
  height: fit-content;
  background-color: white;
  position: relative;
  margin: auto;
  overflow: hidden;
  z-index: 1;
}

.profileContainer {
  width: 100%;
  height: fit-content;
  background-color: #E8E5DA;
  position: relative;
  margin: auto;
  overflow: hidden;
  z-index: 1;
}
.not_found_image_container {
  height: 40vh;
  background-image: url("../../../Images/notFound.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.trip_history_image_container{
  height: 40vh;
  background-image: url("../../../Images/orderRide.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.profile_image_container {
  height: 40vh;
  background-image: url("../../../Images/profileHand.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.image_container {
  height: 40vh;
  margin-bottom: 1vh;
  background-image: url("../../../Images/VariousImages/trip.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.text_container {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 1vh;
  font-size: 1.9vh;
  text-align: center;
  font-weight: bold;
  opacity: 75%;
}

.button_container {
  display: block;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 1vh;
}

.learnMoreButton {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  margin: 1vh;
  margin-top: 4vh;
  padding: 1.4vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 30px;
  color: white;
  font-family: "montserrat";
  font-weight: bold;
  font-size: 15px;
  transition-duration: 0.15s;
  border: none;
  text-decoration: none;
  background-color: #47682C;
  color: white;
}

.learnMoreButton:hover {
  background-color: #7BC950;
  border-radius: 10px;
  border-color: #47682C;
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
  transition-duration: 0.15s;
}
