.paperStyle {
    width: 30%;
    padding: 30px 20px;
    margin: 100px auto;
}
  
.errorStyle {
    color: green;
    text-align: center;
    margin-top: 20px;
}
  
.driverButtonStyle {
    color: #0099cc;
    border: 2px solid #0099cc;
    padding: 10px;
    margin-top: 15px;
}

.marginTop {
    margin-top: 5%;
}

.saveButtonStyle {
    background-color: #0099cc;
    padding: 10px;
    margin-top: 15px;
}

.textFieldStyle {
    width: 95%;
}

.driveButton {
    color: white !important;
    border: 1px solid black !important;
    background-color: #47682C !important;
}

.dialog {
    background-color: "#E8E5DA" !important; 
}

.textColor {
    color: black;
    font-family: montserrat;
}