.driveButton {
    color: white;
    width: 15vh;
    align-items: center;
    height: 4vh;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #47682C;
    border: 2px solid #47682C;
    border-radius: 30px;
    font-family: "montserrat";
    font-size: 1rem;
    transition-duration: 0.15s;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.driveButton:hover {
    font-weight: bold;
    border-radius: 10px;
    background-color: #7BC950;
    border: none;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
    transition-duration: 0.15s;
}

.textColor {
    color: black;
    font-family: montserrat;
}

.center {
    display: flex;
    justify-content: center;
}

.primaryText {
    margin-left: 20vh;
    color: #7BC950;
    font-family: montserrat;
}

.primaryTextMobileMargin {
    color: #7BC950;
    font-family: montserrat;
    margin-left: 5vh;
}

.halfViewportWidth {
    width: 50vh;
}

.box {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}