.dropdown {
    background-color: #0099cc;
    color: black;
    border-radius: 999px;
    width: fit-content;
}

.dropdown-menu {
    background-color:#696969;
}

.dropdown-item {
    color: white;
}