.map-container {
    width: 100%;
    height: 100vh;
}

.split-screen {
    display: flex;
    flex-direction: row;
}

.top-pane{
    width: 50%;
}

.bottom-pane {
    width: 50%;
}

.map-width {
    width: 100%;
}