.dialogText {
  width: 90%;
  height: fit-content;
  padding: 1vh;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.8vh;
  text-align: center;
  font-weight: bold;
  word-spacing: 0.5vh;
  border-radius: 2vh;
  background-color: rgb(123, 201, 80, 0.3);
  color: "#7BC950";
  opacity: 75%;
}