.area {
    padding-top: 5vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

.card {
    mix-blend-mode: multiply;
    font-family: "Nunito Sans";
    outline: none;
    margin: 20px;
}

.cardTransparency {
    background: rgba(0, 0, 0, 0.2);
}