.titleHeader {
    color: black;
}

.titleText {
    color: #FBEAEB;
}

.toolBar {
    width: 100%;
}

.appBar {
    width: 100%;
    font-family: "Nunito Sans";
}

.centerText {
    text-align: center;
}

.fontSize2 {
    font-size: 2rem;
}

.fontSize3 {
    font-size: 4rem;
}

.buttonDivs {
    margin-left: 42%;
    padding: 10px;
}

.registerButton {
    width: 15vh;
    height: 4vh;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: #FF5757;
    border-radius: 30px;
    color: white;
    font-family: "montserrat";
    font-weight: bold;
    font-size: 15px;
    transition-duration: 0.15s;
}

.loginButton {
    color: black;
    width: 15vh;
    height: 4vh;
    border: none;
    margin-right: 3vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #FF5757;
    border-radius: 30px;
    font-family: "montserrat";
    font-weight: bold;
    font-size: 15px;
    transition-duration: 0.15s;
}

.registerButton:hover {
    border-radius: 10px;
    background-color: #e23f3f;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
    transition-duration: 0.15s;
}

.loginButton:hover {
    border-radius: 10px;
    border-color: #e23f3f;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
    transition-duration: 0.15s;
}

.buttons_container {
    align-items: right;
    margin-left: auto;
    margin-right: -4vh;
}

.header_container {
    background-color: #F0F0F0;
}

.logo {
    background-color: #F0F0F0;
    margin-left: -2vh;
    width: fit-content;
    height: fit-content;
}
