.titleHeader {
    color: black;
}

.titleText {
    color: #FBEAEB;
}

.toolBar {
    width: 100%;
}

.appBar {
    width: 100%;
    font-family: "Nunito Sans";
}

.centerText {
    text-align: center;
}

.fontSize2 {
    font-size: 2rem;
}

.fontSize3 {
    font-size: 4rem;
}

.buttonDivs {
    margin-left: 42%;
    padding: 10px;
}

.registerButton {
    color: black;
    width: 15vh;
    height: 4vh;
    border: none;
    margin-right: 3vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #e3e3e3;
    border-radius: 30px;
    /* font-family: "montserrat"; */
    font-weight: bold;
    font-size: 15px;
    transition-duration: 0.15s;
}

.loginButton {
    color: black;
    width: 15vh;
    height: 4vh;
    border: none;
    margin-right: 3vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #e3e3e3;
    border-radius: 30px;
    /* font-family: "montserrat"; */
    font-weight: bold;
    font-size: 15px;
    transition-duration: 0.15s;
}

.registerButton:hover {
    border-radius: 10px;
    border-color: #989898;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
    transition-duration: 0.15s;
}

.loginButton:hover {
    border-radius: 10px;
    border-color: #989898;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
    transition-duration: 0.15s;
}

.buttonsContainer {
    align-items: right;
    margin-left: auto;
}

.iconsContainer {
    align-items: right;
    margin-left: auto;
    margin-right: 0vh;
}

.header_container {
    background-color: #74E39A;
}

.logo {
    background-color: #74E39A;
    width: fit-content;
    height: fit-content;
}
