.titleHeader {
    color: black;
}

.titleText {
    color: #FBEAEB;
}

.toolBar {
    width: 90%;
    margin: 0 auto;
}

.appBar {
    background: none;
    font-family: "Nunito Sans";
}

.sortIcon {
    color: #FFFFFF;
    font-size: 2rem;
}

.centerText {
    text-align: center;
}

.fontSize2 {
    font-size: 2rem;
}

.fontSize3 {
    font-size: 3rem;
}

.logo {
    margin-left: 20px;
    height: auto;
    width: 670px;
}