.page_container {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Nunito Sans";
}

.half_page_container {
  position: relative;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-family: "Nunito Sans";
}

.banner_container {
  height: 53vh;
  position: relative;
  background-color: black;
}

.announcement_bar_container {
  height: 4vh;
  background-color: #cccc;
  display: flex;
  position: relative;
  margin: auto;
  overflow: hidden;
  z-index: 1;
}

.img_text_container {
  width: 90%;
  height: fit-content;
  padding-left: 1vh;
  padding-right: 1vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
}
