h3{
    text-align: center;
    margin-top: 30px;
}

.driverInputContainer{
    width: 425px;
    padding: 15px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

.userDataOne{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.userDataTwo{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.add_driver{
    background: #b91425;
    border-radius: 999px;
    box-shadow: #b91425 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 20px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 400px;
    word-break: break-word;
    border: 0;
}

.controls{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.tableComponent{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    
}

table{
    width: 1000px;
    text-align: center;
}

.tableContainer{
    width: 1015px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 15px;
    border: 2px solid black;
}

.editButton{
    background: #b91425;
    border-radius: 999px;
    box-shadow: #b91425 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 20px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    word-break: break-word;
    border: 0;
}
