.header_bgcolor {
    background-color: #000000;
}

.backgroundStyleDrawer {
    min-height: 80vh;
    background-image: url("../../../Images/landing_background.jpg");
    height: 100%;
}

.buttonDivs {
    margin-left: 43%;
    padding: 10px;
}

.registerButton {
    width: 15vh;
    height: 4vh;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: #FF5757;
    border-radius: 30px;
    color: white;
    font-family: "montserrat";
    font-weight: bold;
    font-size: 15px;
    transition-duration: 0.15s;
}

.loginButton {
    width: 15vh;
    height: 4vh;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #FF5757;
    border-radius: 30px;
    color: white;
    font-family: "montserrat";
    font-weight: bold;
    font-size: 15px;
    margin-right: 20px;
    transition-duration: 0.15s;
}

.registerButton:hover {
    border-radius: 10px;
    background-color: #e23f3f;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
    transition-duration: 0.15s;
}

.loginButton:hover {
    border-radius: 10px;
    border-color: #e23f3f;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
    transition-duration: 0.15s;
}

.logo {
    margin-left: 20px;
    height: auto;
    width: 670px;
}