.header_bgcolor {
    background-color: #000000;
}

.backgroundStyleDrawer {
    min-height: 80vh;
    background-image: url("../../../Images/landing_background.jpg");
    height: 100%;
}

.logo {
    margin-left: 20px;
    height: auto;
    width: 670px;
}